/* || RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin-top: 0;
}

img {
  display: block;
}

/* || GENERAL STYLES */
body {
  font-family: 'Roboto Slab', serif;
  color: fdfdfd;
}

a:visited {
  color: black;
}

small {
  font-size: 1rem;
}

small i {
  font-size: 1.2rem;
}

small i:hover,
small i:focus {
  color: blue;
}
/* || UTILS */
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

/* || HEADER */
.header {
  padding: 1rem 0;
  background: #2e2e2e;
  color: white;
}

.header a {
  color: white;
}

.header__logo {
  margin-bottom: 0.5rem;
}

/* || MAIN */
main {
  padding-bottom: 4rem;
}

.main__header {
  padding: 2rem 0 0.75rem;
  text-align: center;
}

.main__title {
  font-size: 2.1rem;
}

/* -- CARDS */
.section-cards {
}

.pokemon-number {
  font-size: 1.5rem;
  margin: 0.75rem 0;
  font-weight: 900;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin: 0;
  padding: 0;
}
.card__li {
  list-style: none;
  background-color: fff;
  border-radius: 16px;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  transition: all 0.2s ease-in-out;
}

.card__li:hover,
.card__li:focus {
  transform: scale(1.03);
}
.card__a {
  padding: 1rem;
  display: block;
  text-decoration: none;
}
.card__article {
}
.card__img {
  display: block;
  margin: 0 auto;
}
.card__header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.card__left {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}
.card__title {
}
.card__number {
}

.card__right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.card__badge {
  border-radius: 16px;
  padding: 0.25rem 0.75rem;
  background-color: rgb(173, 173, 173);
  color: white;
  display: inline-block;
}
